.Splash {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Gortida-Medium {
  font-family: "Gordita", sans-serif;
  font-size: 16px;
}

.App-layout {
  background-color: #f7f6f5;
  min-height: 100vh;
  font-size: 16;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Logo {
  width: 56;
  height: 23.83;
  pointer-events: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

.Navbar-button {
  font-family: "Gordita";
  font-size: 16px;
  color: #000;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  display: flex;
  padding-bottom: 18px;
  padding-top: 18px;
}

@font-face {
  font-family: "Gordita";
  src: url("/src/assets/font/Gordita-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
