.Heading {
  font-family: "Gordita-Medium";
  font-size: 40px;
  margin: 0;
  text-align: center;
}

.Paragraph {
  font-family: "Gordita";
  font-weight: 400;
  font-size: 16px;
}

.subHeader {
  font-family: "Gordita-Medium";
  font-weight: 500;
  font-size: 20px;
}

.subtitle {
  font-family: "Gordita";
  font-weight: 500;
  font-size: 16px;
  color: #ffffff70;
}

.body2 {
  font-family: "Gordita";
  font-weight: 400;
  font-size: 14px;
  color: #ffffff70;
}

.darkLink {
  cursor: pointer;
  font-family: "Gordita";
  font-weight: 400;
  font-size: 14px;
  color: #343131;
  text-decoration: none;
}

.footerLink {
  cursor: pointer;
  font-family: "Gordita";
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
}

.footerLink:hover {
  text-decoration: underline;
}

.darkLink:hover {
  text-decoration: underline;
}

.footerLinkIcon {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  font-family: "Gordita";
}

.footerLink:hover {
  text-decoration: underline;
}

.link {
  cursor: pointer;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.buttonFont {
  font-weight: "bold";
  font-size: 16px;
  line-height: 4px;
}

.center {
  text-align: center;
}

@font-face {
  font-family: "Gordita";
  src: url("/src/assets/font/Gordita-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Gordita-Medium";
  src: url("/src/assets/font/Gordita-Medium.otf") format("opentype");
}
